################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SpaceShooter/.vs/SpaceShooter/v15
